.h1{
    color :red;
    font-size: 30px;
  }
  
  .mat-list-item{
    background-color: whitesmoke;
    text-align: center;
    display: grid;
  }
  
  :host /deep/ .mat-list-base .mat-list-item .mat-list-item-content {
    display: grid;
    font-family: cursive;
  }
  
  .mat-divider{
    height: 5px;
  }
  mat-grid-tile {
    background: lightblue;
  }