<div class="container">
    <div class="row">
      <div class="col-md-6">
       <a mat-raised-button routerLink="/admin/notification/create" class="btn btn-primary" color="primary" type="submit">
         Add Notification
       </a>
      </div>
    </div>
  
     <div class="row" >
       <div class="col-md-12">
        <mat-spinner  *ngIf ="isLoading"></mat-spinner>

      

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z12" *ngIf="!isLoading" >
        
         

          <ng-container matColumnDef="srNo">
            <th mat-header-cell *matHeaderCellDef>Sr No </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
          </ng-container>
            <!-- <ng-container matColumnDef="imageUrl">
              <th mat-header-cell *matHeaderCellDef> </th>
             
              <td mat-cell *matCellDef="let element" class="post-image">
                  <img [src]="element.MemberImage" height="50px" width="50px" />
              </td>
            </ng-container> -->
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Name Column -->

           

            <ng-container matColumnDef="Title">
              <th mat-header-cell *matHeaderCellDef > Title </th>
              <td mat-cell *matCellDef="let element"> <img src="../../../../assets/Images/pdf.jfif" height="50px" width="50px"> 
                <pdf-viewer [src]="element.file"
                [original-size]="false"
    ></pdf-viewer>
                {{element.title}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef > Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
    
           
  
             <!-- Action Column -->
       <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
          <a mat-button color="primary" [routerLink]="['/notification/edit',element.id]" >Edit</a> | 
          <button mat-button color="warn" (click)="confirmDialog(element.id,element.title)">Delete</button>
        </td>
      </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- Angular 8 pagination -->
        
          </table>
        
        
       </div>
      
     </div>
     <div class="row">
      <div class="col-md-12">
       <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
     
      </div>
    </div>
      
      
      </div>
    
  
