<app-navigation></app-navigation>
<div class="container" *ngIf="Items">
  <h3 matLine style="background-color: rgb(85, 85, 250); text-align: center;height :50px;color: white; font-size: 20px;font-weight: 700;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;margin-top: 70px;"> View Gallery </h3>
    <div
      class="row justify-content-around align-items-center"
      Style="height: 80vh; width:100%"
    >
      <div
        class="col-lg-3 col-md-6 col-sm-12 border m-3"
        style="height:40vh"
        *ngFor="let item of Items"
      >
        <img src="{{ item.GalleryImage }}" alt="" />
      </div>
    </div>
  </div>
