<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>HPPGTIP Admin</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                 <a routerLink="/admin"><i data-feather="briefcase"></i><span>Dashboard</span></a>
              </li>
       
              <li>
                <a routerLink="/admin/meta"><i data-feather="database"></i><span>Site Meta</span> </a>
             </li>

            <!-- <li>
              
                <a href="#pageSubmenuHome" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i data-feather="home"></i><span>Home</span></a>
                <ul class="collapse list-unstyled" id="pageSubmenuHome">

                    <li>
                        <a routerLink="/admin/home"><strong>&#9776;</strong>&nbsp;List Home Data</a>
                    </li>
                    <li>
                        <a routerLink="/admin/home/create"><strong>&#9769;</strong>&nbsp;Add Home Data</a>
                    </li>
                   
                   
                </ul>
            </li> -->
            <li>
                <a href="#pageSubmenuMember" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i data-feather="user"></i><span>Member</span></a>
                <ul class="collapse list-unstyled" id="pageSubmenuMember">
                    <li>
                        <a routerLink="/admin/members"><strong>&#9776;</strong>&nbsp;List Members</a>
                    </li>
                    <li>
                        <a routerLink="/admin/member/create"><strong>&#9769;</strong>&nbsp;Add Members</a>
                    </li>
                   
                  
                   
                </ul>
            </li>
            <li>
              
                <a href="#pageSubmenuNotifications" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i data-feather="bell"></i><span>Notifications</span></a>
                <ul class="collapse list-unstyled" id="pageSubmenuNotifications">
                    <li>
                        <a routerLink="/admin/notification"><strong>&#9776;</strong>&nbsp;List Notifications</a>
                    </li>
                    <li>
                        <a routerLink="/admin/notification/create"><strong>&#9769;</strong>&nbsp;Add Notifications</a>
                    </li>
                   
                </ul>
            </li>
            <li>
              
                <a href="#pageSubmenuAchievments" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i data-feather="award"></i><span>Achievments</span></a>
                <ul class="collapse list-unstyled" id="pageSubmenuAchievments">
                    <li>
                        <a routerLink="/admin/achievment"><strong>&#9776;</strong>&nbsp;List Achievments</a>
                    </li>
                    <li>
                        <a routerLink="/admin/achievment/create"><strong>&#9769;</strong>&nbsp;Add Achievments</a>
                    </li>
                   
                </ul>
            </li>

            <li>
              
                <a href="#pageSubmenuGallery" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <i data-feather="camera"></i><span>Gallery</span></a>
                <ul class="collapse list-unstyled" id="pageSubmenuGallery">
                    <li>
                        <a routerLink="/admin/gallery"><strong>&#9776;</strong>&nbsp;List Gallery</a>
                    </li>
                    <li>
                        <a routerLink="/admin/gallery/create"><strong>&#9769;</strong>&nbsp;Add Gallery</a>
                    </li>
                   
                </ul>
            </li>

            <li>
              
                <a href="#pageSubmenuContact" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">  <i data-feather="phone"></i><span>Contact Us</span></a>
                <ul class="collapse list-unstyled" id="pageSubmenuContact">
                    <li>
                        <a href="#"><strong>&#9776;</strong>&nbsp;List Contact</a>
                    </li>
                    <li>
                        <a href="#"><strong>&#9769;</strong>&nbsp;Add Contact</a>
                    </li>
                   
                </ul>
            </li>

         
        </ul>

        <!-- <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>
        </ul> -->
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                   
                    <ul class="nav navbar-nav ml-auto"> 
                        <a class="nav-link" href="#"> welcome admin</a>
                      
                    </ul> 
                </div>
            </div>
        </nav>
        
       <router-outlet></router-outlet>
    </div>
</div>