 <!-- Three columns of text below the carousel -->

    <app-navigation></app-navigation>
    <main role="main"> 
     <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
            <div class="container">
              <div class="carousel-caption text-left">
                <h1>Example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
            <div class="container">
              <div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
            <div class="container">
              <div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    
   <!-- Start Main Services Area -->
   <section class="main-services-area bg-fefefe">
    <div class="container" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:large;font-weight: 300;">

     <div class="row">
       <div class="col-md-12">
      <div class="section-title" id="divWelcome">
        <h1 style="color: darkgreen;">{{title}}</h1> 
       </div>
       <div class="section-desc">
         {{description}}
       </div>
      </div>
     </div>
       
    </div>
   
    </section>
<!-- End Main Services Area -->

  <div class="container">
 <div class="row">
    <div class="col-lg-3">

      <mat-list>
        <h3 matLine style="background-color: rgb(85, 85, 250); text-align: center;color: white; font-size: 20px;font-weight: 700;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Dashboard </h3>
        <a mat-list-item  routerLink="/notifications" style="background-color: rgb(172 182 228); text-align: center;color: white; font-weight: lighter;">Notifications </a>  
        <mat-divider class="mat-divider"></mat-divider>
        <a mat-list-item  routerLink="/members" style="background-color: rgb(172 182 228); text-align: center;color: white; font-weight: lighter;">Members </a>  
        <mat-divider></mat-divider>
        <a mat-list-item  routerLink="/gallery" style="background-color: rgb(172 182 228); text-align: center;color: white; font-weight: lighter;">Gallery </a>  
        <mat-divider></mat-divider>
        <a mat-list-item  routerLink="/contactUs" style="background-color: rgb(172 182 228); text-align: center;color: white; font-weight: lighter;">Contact Us </a>  
        <mat-divider></mat-divider>
       
       </mat-list>

       <mat-divider></mat-divider>
       <mat-divider></mat-divider>
      
       <h3 matLine style="background-color: rgb(85, 85, 250); text-align: center;height :30px;color: white; font-size: 20px;font-weight: 700;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Education Links </h3>
       <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile style="background-color: white;">
        <a routerLink="www.hargarpathsala.com"> <img src= "../../assets/Images/HargarPahshala.png" ></a>
        </mat-grid-tile>
        <mat-grid-tile style="background-color: white;">
          <a routerLink="www.hargarpathsala.com"> <img src= "../../assets/Images/HargarPahshala.png" ></a>
          </mat-grid-tile>
          <mat-grid-tile style="background-color: white;">
            <a routerLink="www.hargarpathsala.com"> <img src= "../../assets/Images/HargarPahshala.png" ></a>
            </mat-grid-tile>
            <mat-grid-tile style="background-color: white;">
              <a routerLink="www.hargarpathsala.com"> <img src= "../../assets/Images/HargarPahshala.png" ></a>
              </mat-grid-tile>
      </mat-grid-list>
   
   
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-6">
     
      <h1 style="text-align: left;color: black; font-size: 30px;font-weight: bold;">Our Vision</h1>  
      <p>We are group of the Computer Science professional recurited for the education of young u coming talent.
      We are commited for the educating the technology which is future of the genrations. We are group of the Computer Science professional recurited for the education of young u coming talent.
      We are commited for the educating the technology   
      </p>
      
      <p style="text-align: right;"><a class="btn btn-secondary" href="#" role="link">View details &raquo;</a></p>


      <h1 style="text-align: left;color: black; font-size: 30px;font-weight: bold;">Message From Union</h1>  
      <p>We are group of the Computer Science professional recurited for the education of young u coming talent.
      We are commited for the educating the technology which is future of the genrations. We are group of the Computer Science professional recurited for the education of young u coming talent.
      We are commited for the educating the technology  
      
      We are group of the Computer Science professional recurited for the education of young u coming talent.
      We are commited for the educating the technology which is future of the genrations. We are group of the Computer Science professional recurited for the education of young u coming talent.
      We are commited for the educating the technology 
      </p>
      
      <p style="text-align: right;"><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
      <div class="row">
        <div class="col-md-12">
          <h3 matLine style="background-color: rgb(85, 85, 250); text-align: center;height :50px;color: white; font-size: 20px;font-weight: 700;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Announcments & News </h3>
          <mat-list role="list" *ngFor="let notification of notifications">
            <mat-list-item role="listitem" style="cursor: pointer;" >{{notification.title}}</mat-list-item>
          </mat-list>
          <button mat-button color="warn" style="align-self: center;">View More</button>
        </div>
      </div>
      
   
     
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->



  <!-- Team section -->
<div class="team">
  <div class="container">
     <h1 class="text-center">Our Team</h1>
   <div class="row" >
    <div class="col-lg-3 col-md-3 col-sm-12 item" *ngFor="let member of members">
     <img src={{member.MemberImage}} class="img-fluid" alt="team">
     <div class="des">
      {{member.MemberName}}
      </div>
     <span class="text-muted">{{member.MemberRole}}</span>
    </div>
   </div>
  </div>
 </div>

 <!-- START THE FEATURETTES -->

 

 <!-- /END THE FEATURETTES -->
    </div>
    </main>